<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualizer | About</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" style="color: antiquewhite;">

    <link rel="stylesheet" href="/css/about.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font-Awosome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

     <!-- Google Chart API -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



</head>
<body>
    
    <header>
        <div id="website-name">
            <i class="fas fa-chart-pie" style="color: white; font-size: 2.5rem;"></i>
            <span style="vertical-align: super;">SK Data Visualizer</span> 
        </div>

        <nav>
            <span>
                <a href="/data-visualizer/chart-gallery">
                    Chart Gallery
                </a>            
            </span>
            <span>
                <a href="/data-visualizer/tool">
                    Tool
                </a>
            </span>
            <span>
                <a href="/data-visualizer/about">
                About
                </a>
            </span>
        </nav>
    </header>

    <main>
        <h1>SK Data Visualizer</h1>
        <div class="about-us-desc">
            <div class="about-text">
                <span>
                    <h2>What we do?</h2>
                    <p>This site helps you to learn Data visualizations, And our tool helps you to convert your data into data visualization.</p>
                </span>
            
                <span>
                    <h2>What matters to us?</h2>
                    <p>To provides an easy and efficient way to convert their data into data visualization.</p>
                </span>

                <span>
                    <h2> How do we do it?</h2>
                    <p> This site uses google's most advanced technologies to convert your data into data visualization.</p>
                </span>

            </div>

            <div id="carousel" class="pic-ctn">
                <img src="/images/about_us.png" alt="" class="pic">
                <img src="/images/about_us5.png" alt="" class="pic">
                <img src="/images/about_us3.png" alt="" class="pic">
                <img src="/images/about_us.png" alt="" class="pic">
                <img src="/images/about_us2.png" alt="" class="pic">
            </div>
        </div>

        <div class="about-us-desc">
            <div class="about-text">
                <h1>Developers</h1>
            </div>
            <div id="developers">
                <div>Krati Vaishnao</div>
                <div>Shubh Gupta</div>
            </div>
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>

