<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualizer | Chart Galary</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" style="color: antiquewhite;">

    <link rel="stylesheet" href="/css/chart_gallery.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font-Awosome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

     <!-- Google Chart API -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



</head>
<body>
    
    <header>
        <div id="website-name">
            <i class="fas fa-chart-pie" style="color: white; font-size: 2.5rem;"></i>
            <span style="vertical-align: super;">SK Data Visualizer</span> 
        </div>

        <nav>
            <span>
                <a href="/data-visualizer/chart-gallery">
                    Chart Gallery
                </a>            
            </span>
            <span>
                <a href="/data-visualizer/tool">
                    Tool
                </a>
            </span>
            <span>
                <a href="/data-visualizer/about">
                About
                </a>
            </span>
        </nav>
    </header>

    <main>
        <section class="chart-desc">
           
            <div class="desc">
                <span class="desc-text">
                    <h1 style="font-size: 3rem;">Pie Chart</h1>

                    <span>
                        A pie chart (or a circle chart) is a circular statistical graphic, which is divided into slices to illustrate numerical proportion. In a pie chart, the arc length of each slice (and consequently its central angle and area), is proportional to the quantity it represents.
                    </span>

                    <div>
                        <a href="/data-visualizer/tool">Get Started</a>
                        <a href="https://en.wikipedia.org/wiki/Pie_chart#:~:text=A%20pie%20chart%20(or%20a,to%20the%20quantity%20it%20represents.">
                            More
                        </a>
                    </div>
                </span>
                <span>
                    <img src="/images/pie_chart.gif" alt="">
                </span>
            </div>
        </section>

        <section class="chart-desc">
           
            <div class="desc">
                <span class="desc-text">
                    <h1 style="font-size: 3rem;">Line Chart</h1>

                    <span>
                        A line chart or line plot or line graph or curve chart. is a type of chart which displays information as a series of data points called 'markers' connected by straight line segments. It is a basic type of chart common in many fields.
                    </span>

                    <div>
                        <a href="/data-visualizer/tool">Get Started</a>
                        <a href="https://en.wikipedia.org/wiki/Line_chart">
                            More
                        </a>
                    </div>
                </span>
                <span>
                    <img src="/images/line_chart.gif" alt="">
                </span>
            </div>
        </section>

        <section class="chart-desc">
           
            <div class="desc">
                <span class="desc-text">
                    <h1 style="font-size: 3rem;">Bar Chart</h1>

                    <span>
                        A bar chart or bar graph is a chart or graph that presents categorical data with rectangular bars with heights or lengths proportional to the values that they represent. The bars can be plotted vertically or horizontally. A vertical bar chart is sometimes called a column chart.
                    </span>

                    <div>
                        <a href="/data-visualizer/tool">Get Started</a>
                        <a href="https://en.wikipedia.org/wiki/Bar_chart">
                            More
                        </a>
                    </div>
                </span>
                <span>
                    <img src="/images/bar_graph.gif" alt="">
                </span>
            </div>
        </section>

        <section class="chart-desc">
           
            <div class="desc">
                <span class="desc-text">
                    <h1 style="font-size: 3rem;">Donut Chart</h1>

                    <span>
                        The donut chart is a variant of the pie chart, with a hole in its center, and it displays categories as arcs rather than slices. Both make part-to-whole relationships easy to grasp at a glance.
                    </span>

                    <div>
                        <a href="/data-visualizer/tool">Get Started</a>
                        <a href="https://www.amcharts.com/demos/donut-chart/">
                            More
                        </a>
                    </div>
                </span>
                <span>
                    <img src="/images/donut_chart.gif" alt="">
                </span>
            </div>
        </section>

        <section class="chart-desc">
           
            <div class="desc">
                <span class="desc-text">
                    <h1 style="font-size: 3rem;">CandleStick Chart</h1>

                    <span>
                        A candlestick chart (also called Japanese candlestick chart) is a style of financial chart used to describe price movements of a security, derivative, or currency. Each "candlestick" typically shows one day, thus a one-month chart may show the 20 trading days as 20 candlesticks. Candlestick charts can also be built using intervals shorter or longer than one day.
                    </span>

                    <div>
                        <a href="/data-visualizer/tool">Get Started</a>
                        <a href="https://en.wikipedia.org/wiki/Candlestick_chart">
                            More
                        </a>
                    </div>
                </span>
                <span>
                    <img src="/images/candlestick_chart.gif" alt="">
                </span>
            </div>
        </section>

        <section class="chart-desc">
           
            <div class="desc">
                <span class="desc-text">
                    <h1 style="font-size: 3rem;">Geo Chart</h1>

                    <span>
                        A geochart is a map of a country, a continent, or a region with areas identified in one of three ways: The region mode colors whole regions, such as countries, provinces, or states. The markers mode uses circles to designate regions that are scaled according to a value that you specify.
                    </span>

                    <div>
                        <a href="/data-visualizer/tool">Get Started</a>
                        <a href="https://developers.google.com/chart/interactive/docs/gallery/geochart">
                            More
                        </a>
                    </div>
                </span>
                <span>
                    <img src="/images/geo_chart.gif" alt="">
                </span>
            </div>
        </section>

        <section class="chart-desc">
           
            <div class="desc">
                <span class="desc-text">
                    <h1 style="font-size: 3rem;">Word Tree</h1>

                    <span>
                        A word tree depicts multiple parallel sequences of words. It could be used to show which words most often follow or precede a target word (e.g., "Cats are...") or to show a hierarchy of terms (e.g., a decision tree).
                    </span>

                    <div>
                        <a href="/data-visualizer/tool">Get Started</a>
                        <a href="https://developers.google.com/chart/interactive/docs/gallery/wordtree">
                            More
                        </a>
                    </div>
                </span>
                <span>
                    <img src="/images/word_tree.jpg" alt="">
                </span>
            </div>
        </section>
        </main>

</body>
</html>